node_modules
src
.git
.gitignore
tsconfig.json
.vscode/tasks.json
*.tsbuildinfo
.nyc_output
coverage
**/*.test.js
**/*.spec.js
**/*.map
.eslintrc.json
.prettierrc
.prettierignore
yarn.lock
pnpm-lock.yaml
.npmrc
.github
*.vsix