node_modules
src
!src/lm/skills/**
!src/lm/skills/**/*
.git
.gitignore
tsconfig.json
.vscode
*.tsbuildinfo
.nyc_output
coverage
**/*.test.js
**/*.spec.js
**/*.map
.eslintrc.json
.prettierrc
.prettierignore
yarn.lock
pnpm-lock.yaml
.npmrc
.github
*.vsix
third_party